{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": "last 2 versions"
      },
      "loose": true,
      "modules": false
    }],
  ],
  "plugins": [

    "transform-decorators-legacy",
    "react-hot-loader/babel",
    "babel-plugin-transform-class-properties",
    ["babel-plugin-styled-components", {
    "ssr": false
  }]],
  "env": {
    "test": {
      "plugins": [
      "babel-plugin-transform-es2015-modules-commonjs"]
    },
    "server": {
      "plugins": [
      ["transform-react-jsx"],
        "babel-plugin-transform-es2015-modules-commonjs"]
    }
  },
}